@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #f0f2f5;
}

.wrapper {
  display: flex;
}
.wrapper .main_content {
  width: 100%;
}

.wrapper .main_content .header {
  display: flex;
  font-family: 'Playfair Display', sans-serif;
  background: #6e6e6d;
  border-bottom: 2px solid #f9a3cb;
  display: flex;
  height: 100px;
  color: #f9a3cb;
  font-size: 70px;
  padding-left: 30px;
}

.wrapper .main_content .header > div {
  margin: 10px;
}

.wrapper .main_content .header .number_hours {
  display: flex;
  flex-flow: column;
  padding: 3px;
  margin-bottom: 2px;
}

.wrapper .main_content .header .number_hours #number {
  color: #f9a3cb;
  outline: none;
  background-color: #f0f2f5;
  border: 0px solid;
  margin-top: 10px;
}
.wrapper .main_content .header .number_hours #number a {
  color: inherit;
  font-size: 15;
}

.wrapper .main_content .header .cal_button {
  border-radius: 350px 350px 350px 350px;
  padding: 5px 30px 5px 30px;
  background-color: #2b2b2b;
  position: absolute;
  right: 180px;
  top: 5px;
}
.wrapper .main_content .header .cal_button #req-call {
  border: none;
  left: 50%;
  top: 50%;
  margin-top: 20%;
  margin-bottom: 20%;
}

.wrapper .main_content .header .cal_button #req-call a {
  background-color: #2b2b2b;
  color: #f9a3cb;
  font-size: medium;
}

.wrapper .main_content .header .social_media {
  margin-left: 30%;
  background: #6e6e6d;
}
.fa {
  padding: 7px;
  margin-bottom: 5px;
  border-radius: 50%;
  font-size: 35px;
  text-align: center;
}
.fa-color {
  color: #4267B2;
  background: transparent;
}

.fa-twitter {
  background: #55acee;
  color: white;
  position:absolute;
  right: 30px;
  top: 20px;
}

.fa-facebook {
  text-shadow: 0 0 5px #010;
  position: absolute;
  right: 100px;
}

.wrapper .main_content .tabs {
  width: 100%;
  position: sticky;
  top: 0px;
}
.wrapper .main_content .tabs ul {
  display: flex;
  flex-flow: row;
  justify-content: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #f9a3cb;
  padding: 5px;
  color: #f9a3cb;
  color: inherit;
}

.wrapper .main_content .tabs ul li a {
  color: #f9a3cb;
}


.wrapper .main_content .main_info .about_product {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.wrapper .main_content .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-top: 1px solid #009879;
}

.items {
  margin: 30px;
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.items .item1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 15%;
  border-radius: 5px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  margin: 25px;
  text-align: center;
}

.items .item1 img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.items .item1 .shop_now {
  padding: 2x 16px;
  align-content: center;
  justify-content: center;
}

.items .item2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 15%;
  border-radius: 5px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-basis: 29%;
  margin: 25px;
  text-align: center;
}

.items .item2 img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.items .item2 .shop_now {
  padding: 2x 16px;
  align-content: center;
  justify-content: center;
}



.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  cursor: context-menu;
}

.bg-modal1 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal2 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal3 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal4 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal5 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  width: 800px;
  height: 600px;  
  border-radius: 4px;
  text-align: center;
  padding: 50px;
  position: relative;
  border: 0px;
}

.popup-img {
  margin: 0px;
  width: 400px;
  height: 500px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.mugs-img {
  margin: 0px;
  width: 400px;
  height: 500px;
  position: absolute;
  top: 90px;
  left: 30px;
}

.popup-buy {
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 25px;
}

h4 {
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.buy-now {
  font-size: 25px;
  border: 2px solid #6e6e6d;
  color: #6e6e6d;
  background-color: #fad0c9;
  width: 270px;
  padding: .5rem 2rem .5rem;
  transition: all .3s ease;
  cursor: pointer;
  position: absolute;
  bottom: 60px;
  right: 60px;
  font-family: 'Montserrat', sans-serif;
}

.add-cart {
  font-size: 25px;
  border: 2px solid #6e6e6d;
  color: #6e6e6d;
  background-color: #fad0c9;
  width: 270px;
  padding: .5rem 2rem;
  transition: all .3s ease;
  cursor: pointer;
  position: absolute;
  bottom: 120px;
  right: 60px;
  font-family: 'Montserrat', sans-serif;
}

.icon {
  background: transparent;
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;
}

button:hover {
  background-color: #6e6e6d;
  color: #fad0c9;

}

.description {
  position: absolute;
  top: 100px;
  right: 70px;
}

.product-name{
  font-size: 40px;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.price {
  font-size: 35px;
  position: relative;
  top: 40px;
  right: 60px;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.close {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: black;
}

.close1 {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: black;
}

.close2 {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: black;
}

.close3 {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: black;
}

.close4 {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: black;
}

.close5 {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: black;
}


/* mugs */

.mugs-bg-modal1 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.mugs-bg-modal2 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.mugs-bg-modal3 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.mugs-bg-modal4 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.mugs-bg-modal5 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.mugs-bg-modal6 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.mugs-bg-modal7 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.mugs-bg-modal8 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.mugs-bg-modal9 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.mugs-close1 {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: black;
}

.mugs-close2 {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: black;
}
.mugs-close3 {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: black;
}
.mugs-close4 {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: black;
}
.mugs-close5 {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: black;
}
.mugs-close6 {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: black;
}
.mugs-close7 {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: black;
}
.mugs-close8 {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: black;
}

/* mugs */


/* shorts */

.shorts-bg-modal1 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.shorts-bg-modal2 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.shorts-bg-modal3 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.shorts-bg-modal4 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.shorts-bg-modal5 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.shorts-bg-modal6 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.shorts-bg-modal7 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.shorts-bg-modal8 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.shorts-bg-modal9 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.shorts-close1 {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: black;
}

.shorts-close2 {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: black;
}

.shorts-close3 {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: black;
}

.shorts-close4 {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: black;
}

.shorts-close5 {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: black;
}


.payment-wrapper .payment-header a {
  font-size: 30px;
}
.payment-wrapper .payment-header .button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: black;
  padding: 15px 5px 15px 5px;
  background-color: transparent;
  margin: 4% 7% 0 7%;
}

.payment-wrapper .payment-header {
  border-bottom: solid 1px #000000;
  background-color: antiquewhite;
}

.payment-wrapper .payment-content {
  margin: 0 7% 0 7%;
}

.shorts-close6 {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: black;
}

.shorts-close7 {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: black;
}

.shorts-close8 {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: black;
}

.shorts-close9 {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: black;
}

/* shorts */

.short {
  width: 500px;
  height: 380px; 
}

.item_name_shorts {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  position: absolute;
  left: 670px;
  top: 140px;
}

.item_name_mugs {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  position: absolute;
  left: 700px;
  top: 1320px;
}

.item_name_shirts {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  position: absolute;
  left: 690px;
  top: 2470px;
}


/* messages */
.msg_box{
  position:fixed;
  bottom:-5px;
  width:320px;
  background:white;
  border-radius:5px 5px 0px 0px;
 }
 
 .msg_head{ 
  background:#6e6e6d;
  color:#f9a3cb;
  padding:8px;
  font-weight:bold;
  cursor:pointer;
  border-radius:5px 5px 0px 0px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
 }
 
 .msg_body{
  background:white;
  height:250px;
  font-size:20px;
  padding:15px;
  overflow:auto;
  overflow-x: hidden;
  color: black;
 }
 .msg_input{
  width:100%;
  height: 55px;
  font-size: 18px;
  border: 1px solid white;
  border-top:1px solid #DDDDDD;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;   
  box-sizing: border-box; 
  font-family: 'Source Sans Pro', sans-serif;
 }
 

 .minimize{
  float:right;
  cursor:pointer;
  padding-right:5px;
 }
 
 .msg-left{
  position:relative;
  background:#e2e2e2;
  padding:5px;
  min-height:30px;
  margin-bottom:5px;
  margin-right:10px;
  border-radius:5px;
  word-break: break-all;
  font-family: 'Source Sans Pro', sans-serif;
 }
 
 .msg-right{
  background:#d4e7fa;
  padding:5px;
  min-height:30px;
  margin-bottom:5px;
  position:relative;
  margin-left:10px;
  border-radius:5px;
  word-break: break-all;
  font-family: 'Source Sans Pro', sans-serif;
 }
